@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 0%;
        --foreground: 0 0% 100%;
        --card: 0 0% 6%;
        --card-foreground: 0 0% 98%;
        --popover: 0 0% 6%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 72% 51%;
        --primary-foreground: 0 0% 100%;
        --secondary: 0 0% 16%;
        --secondary-foreground: 0 0% 98%;
        --muted: 0 0% 16%;
        --muted-foreground: 0 0% 63.9%;
        --accent: 0 72% 51%;
        --accent-foreground: 0 0% 100%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 16%;
        --input: 0 0% 16%;
        --ring: 0 72% 51%;
        --radius: 0.5rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

@layer base {
    [data-debug-wrapper="true"] {
        display: contents !important;
    }

    [data-debug-wrapper="true"] > * {
        margin-left: inherit;
        margin-right: inherit;
        margin-top: inherit;
        margin-bottom: inherit;
        padding-left: inherit;
        padding-right: inherit;
        padding-top: inherit;
        padding-bottom: inherit;
        column-gap: inherit;
        row-gap: inherit;
        gap: inherit;
        border-left-width: inherit;
        border-right-width: inherit;
        border-top-width: inherit;
        border-bottom-width: inherit;
        border-left-style: inherit;
        border-right-style: inherit;
        border-top-style: inherit;
        border-bottom-style: inherit;
        border-left-color: inherit;
        border-right-color: inherit;
        border-top-color: inherit;
        border-bottom-color: inherit;
    }
}